extends layout

block content
  .container
    h5 管理者ページ
    form(action="/delete", method="post")
      input(type="hidden" name="_csrf" value!=csrfToken)
      button(type="submit") コマ表データベース初期化
    br
    br
    form(action="/admin/comment", method="post")
      input(type="hidden" name="_csrf" value!=csrfToken)
      button(type="submit") コメントデータベース初期化

