extends layout

block content
  .container
    br
    div.jumbotron.my-3
      h1.display-5.text-center Jack and Beans
      br
      br
      form.text-centr(role='form', action="/login",method="post")
        .form-group.row
          h4.col-xl-3.col-form-label(for="staticEmail") ユーザネーム：
          div.col-xl-9
           input.form-control(type='text', name="username", placeholder='Username')
        .form-group.row
          h4.col-xl-3.col-form-label(for="staticEmail") パスワード：
          div.col-xl-9
            input.form-control(type='password', name="password", placeholder='Password')
        br
        div.text-center
          button.btn.btn-info.col-sm-3(type='submit',id="login") ログイン
          a.col-sm-3(href="/registar",id="login").btn.btn-info 新規登録
    
